html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  color: #182537;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

div:focus {
  outline: none !important;
}

/*fresh-chat*/
#fc_frame {
  display: none;
}

#call-phone {
  position: fixed;
  right: 0;
  bottom: 80px;
  width: auto;
  height: 115px;
  border-radius: 3px 0 0 0;
  border: none;
  cursor: pointer;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  z-index: 9999;
}

#call-phone.call-phone-thailand:hover::before {
  background-image: url("https://sapo.dktcdn.net/fe-cdn-production/images/icon/full-call-phone-thailand.svg") !important;
}

#call-phone:before {
  content: "";
  background-image: url("https://sapo.dktcdn.net/fe-cdn-production/images/icon/btn-call-phone.svg");
  background-size: 25px 25px;
  background-color: #0fd186;
  border-radius: 6px 0px 0px 6px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

#call-phone:hover::before {
  background-image: url("https://sapo.dktcdn.net/fe-cdn-production/images/icon/full-call-phone.svg");
  background-size: contain;
  width: 112px;
}

#fresh-chat {
  position: fixed;
  right: 0;
  bottom: 72px;
  width: 35px;
  height: 35px;
  border-radius: 3px 0 0 0;
  border: none;
  cursor: pointer;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  z-index: 9999;
}


#unread-count {
  position: fixed;
  right: 0;
  bottom: 95px;
  width: 20px;
  height: 18px;
  border-radius: 3px 0 0 0;
  border: none;
  cursor: pointer;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  z-index: 9999;
  margin: auto;
  color: white;
  background-color: #FF4D4D;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica Neue Medium;
  text-align: center;
  border-radius: 50%;
  border: #fff solid 2px;
}

#fresh-chat:before {
  content: "";
  background-image: url("https://sapo.dktcdn.net/fe-cdn-production/images/icon/btn-freshchat-new.svg");
  background-size: contain;
  /*background-color: #0fd186;
  border-radius: 6px 0px 0px 6px;*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

#fresh-chat-hide {
  background: url("https://sapo.dktcdn.net/fe-cdn-production/images/btn-hide-chat.png") no-repeat;
  position: fixed;
  right: 6px;
  bottom: 18px;
  width: 16px;
  height: 16px;
  z-index: 99999;
  background-size: 100% 100%;
  display: none;
}

#fresh-chat-min {
  background: url("https://sapo.dktcdn.net/fe-cdn-production/images/btn-freshchat-min.png") no-repeat;
  position: fixed;
  right: 0;
  bottom: 9px;
  width: 28px;
  height: 35px;
  z-index: 99999;
  background-size: 100% 100%;
  display: none;
}

.loader {
  margin: 60px auto;
  font-size: 6px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffcf74, 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.5), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.7), 1.8em -1.8em 0 0em #ffcf74, 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.5), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.7), 2.5em 0em 0 0em #ffcf74, 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.5), 2.5em 0em 0 0em rgba(255, 207, 116, 0.7), 1.75em 1.75em 0 0em #ffcf74, 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.5), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.7), 0em 2.5em 0 0em #ffcf74, -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.5), 0em 2.5em 0 0em rgba(255, 207, 116, 0.7), -1.8em 1.8em 0 0em #ffcf74, -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.5), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.7), -2.6em 0em 0 0em #ffcf74, -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.5), -2.6em 0em 0 0em rgba(255, 207, 116, 0.7), -1.8em -1.8em 0 0em #ffcf74;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffcf74, 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.5), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.7), 1.8em -1.8em 0 0em #ffcf74, 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.5), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.7), 2.5em 0em 0 0em #ffcf74, 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.5), 2.5em 0em 0 0em rgba(255, 207, 116, 0.7), 1.75em 1.75em 0 0em #ffcf74, 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.5), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.7), 0em 2.5em 0 0em #ffcf74, -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.2), -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.5), 0em 2.5em 0 0em rgba(255, 207, 116, 0.7), -1.8em 1.8em 0 0em #ffcf74, -2.6em 0em 0 0em rgba(255, 207, 116, 0.2), -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.5), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.7), -2.6em 0em 0 0em #ffcf74, -1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 207, 116, 0.2), 1.8em -1.8em 0 0em rgba(255, 207, 116, 0.2), 2.5em 0em 0 0em rgba(255, 207, 116, 0.2), 1.75em 1.75em 0 0em rgba(255, 207, 116, 0.2), 0em 2.5em 0 0em rgba(255, 207, 116, 0.2), -1.8em 1.8em 0 0em rgba(255, 207, 116, 0.5), -2.6em 0em 0 0em rgba(255, 207, 116, 0.7), -1.8em -1.8em 0 0em #ffcf74;
  }
}